@import '~@angular/material/theming';
@include mat-core();
$stiggley-app-theme-primary: mat-palette($mat-light-blue, 300, 100, 600);
$stiggley-app-theme-accent:  mat-palette($mat-gray, 200, 100, 400);
$stiggley-app-theme-warn:    mat-palette($mat-orange);
$stiggley-app-theme-theme: mat-light-theme($stiggley-app-theme-primary, $stiggley-app-theme-accent, $stiggley-app-theme-warn);
@include angular-material-theme($stiggley-app-theme-theme);